input[type="file"]{
    display: none;
}
.item{
    width: 5em;
    height: 5em;
    background-color: white;
    border: solid 2px var(--lightGrey);
    border-radius: var(--border-radius);
    background-image: url(camera.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    padding: 1.9em;
}

.item--loaded{
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    width: 5em;
    height: 5em;
    border: solid 2px var(--lightGrey);
    border-radius: var(--border-radius);
    object-fit: contain;
}

.item--loaded img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.item--loaded__delete{
    position: absolute;
    bottom: 0.5em;
    content: "";
    background-image: url(delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.8em;
    height: 1.8em;
    border-radius: 100%;
    border: solid 2px var(--lightGrey);
    padding: 0.3em;
    background-origin: content-box;
    background-color: white;
    transition: 0.3s;
}

.item--loaded__delete:hover{
    border: solid 2px var(--accentHover);
    background-color: #ffe8eb;
}

.item--next{
    background-color: #ffe8eb;
    border: solid 2px var(--lightGrey);
    background-image: url(plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    padding: 1.6em;
    transition: 0.3s;
}

.item--next:hover{
    border: solid 2px var(--accent);
    background-color: #ffe8eb;
}

.item__preview img{
    width: 100%;
}