@import url('../../App.css');
.Review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border-top: solid 2px var(--lightGrey);
    padding-top: 0.5em;
}

.Stars{
   display: flex;
   gap: 0.2em;
   justify-content: center;
   align-items: center;
}

