.IconProfile{
    width: 5em;
    height: 5em;
    border-radius: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Show{
    display: none;
}