@import url('../../../App.css');
.advsmallpreview{
    border: solid 1px var(--lightGrey);
    padding: 1em;
    border-radius: var(--border-radius);
    height: fit-content;
    min-width: 20em;
    background-color: var(--section);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.096);
    width: 50%;
}
.advsmallpreview:hover{
    border: solid 2px var(--primary);    
    cursor: pointer;
}
.advsmallpreview__image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.advsmallpreview__image img{
    width: 10em;
    aspect-ratio: 1/1;
    object-fit: cover;
}