button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.btn--primary{
    align-items: center;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: var(--font-size-p);
    height: 3em;
    justify-content: center;
    padding: 0em 1.6em 0em 1.6em;
    text-decoration: none;
    transition: 0.5s;
    width: fit-content;
}
.btn--primary:hover{
    background-color: var(--primaryHover);
    text-decoration: underline;
}

.btn--secondary{
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: var(--font-size-p);
    height: 3em;
    justify-content: center;
    min-width: fit-content;
    padding: 0em 2.6em 0em 2.6em;
    text-decoration: none;
}

.btn--secondary:hover{
    background-color: var(--secondaryHover);
    text-decoration: underline;
}

.btn--inactive{
    background-color: var(--section);
    border: solid 1px var(--lightGrey);
    align-items: center;
    border-radius: var(--border-radius);
    color: black;
    cursor: pointer;
    display: flex;
    font-size: var(--font-size-p);
    height: 3em;
    justify-content: center;
    min-width: fit-content;
    padding: 0em 1.6em 0em 1.6em;
    text-decoration: none;
}

.btn--disabled{
    background-color: var(--lightGrey);
    border: solid 1px var(--lightGrey);
    align-items: center;
    border-radius: var(--border-radius);
    color: rgb(136, 136, 136);
    cursor:default !important;
    display: flex;
    font-size: var(--font-size-p);
    min-height: 3em;
    justify-content: center;
    width: fit-content;
    padding: 0em 1em 0em 1em;
    text-decoration: none;
}

.btn--inactive:hover{
    border:solid 2px var(--primary);
    text-decoration: underline;
    color: var(--primary);
    font-weight: 600;
}

.btn--reset{
    background-color: var(--lightGrey);
    border-radius: var(--border-radius);
    color: var(--text);
    cursor: pointer;
    height: 2em;
    transition: 0.5s;
}

.btn--reset:hover{
    background-color: var(--lightGreyHover);
    text-decoration: underline;
}

.btn--confirm{
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    border: solid 2px var(--secondary);
    color: white;
    cursor: pointer;
    height: 2em;
    padding: 0em 1em 0em 1em;
}

.btn--confirm:hover{
    background-color: var(--secondaryHover);
    text-decoration: underline;
}

.btn--edit{
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: flex;
    justify-content: center;
    color: black;
}

.btn--edit:hover{
    text-decoration: underline;
}

.btn--edit--delete{
    font-weight: 500;
    color: var(--errors);
}

.btn--delete{
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px var(--errors);
    border-radius: var(--border-radius);
    color: var(--errors);
    cursor: pointer;
    display: flex;
    font-size: var(--font-size-p);
    font-weight: 600;
    height: 3em;
    justify-content: center;
    min-width: fit-content;
    padding: 0em 3em 0em 3em;
    text-decoration: none;
}

.btn--delete:hover{
    text-decoration: underline;
}

.btn--primary--small{
    align-items: center;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: var(--font-size-p);
    height: 3em;
    justify-content: center;
    padding: 0em 5em 0em 5em;
    text-decoration: none;
    transition: 0.5s;
    width: fit-content!important;
}
@media screen and (max-width: 516px) {
    .btn--secondary{
        font-size: 12px;
    }

    .btn--primary{
        font-size: 12px;
    }

    .btn--inactive{
        font-size: 12px;
    }

    .btn--reset{
        font-size: 12px;
    }
    
    .btn--confirm{
        font-size: 12px;
    }
    .btn--edit{
        font-size: 12px;
        color: black;
    }

    .btn--delete{
        font-size: 12px;
    }

    .btn--edit--delete{
        font-size: 12px;
        color: var(--errors);
    }

    .btn--disabled{
        font-size: 12px;
    }
    

}
