@import url('../../App.css');

.Checkbox{
    display: flex;
    align-items: center;
    gap: 4px;
}

input[type="checkbox"]{
    appearance: none;
    height: 44px;
    font-family: "Red Hat Display", sans-serif;
    border: solid 2px var(--lightGrey);
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
    height: 24px;
    width: 24px;
} 
input[type="checkbox"]:hover {
    border: solid 2px var(--accent);
}
.Checkbox input.checked{
    background-color: var(--accent);
    background-image: url(check.svg);
    background-size: contain;
    border: solid 2px var(--accent);
}

.ConfirmButton{
    height: 2.5em;
    background-color: var(--secondary);
    border: solid 2px var(--secondary);
    color: white;
}
.ResetButton{
    height: 2.5em;
    background-color: var(--lightGrey);
    color: var(--text);
}

.Toggle{
    display: flex;
    align-items: center;
    gap: 4px;
}

.Toggle input[type="checkbox"]{
    appearance: none;
    height: 44px;
    font-family: "Red Hat Display", sans-serif;
    border: solid 2px var(--lightGrey);
    border-radius: 100px;
    opacity: 1;
    cursor: pointer;
    height: 32px;
    width: 52px;
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.Toggle input::after{
    content: '';
    height: 24px;
    width: 24px;
    background-color:var(--lightGrey);
    border-radius: 100px;
    position: absolute;
    right: 1.7em;
}

.Toggle input:hover{
    border: solid 2px var(--accent);
    transition: 0.2s;
}

.Toggle input.checked{
    border: solid 2px var(--accent);
    background-color: var(--accent);
    margin: 0px;
}

.Toggle .checked::after{
    content: '';
    height: 24px;
    width: 24px;
    background-color:white;
    border-radius: 100px;
    position: absolute;
    left: 1.7em;
}

.Toggle label p{
    margin: 0px;
}

/* .Round{
    display: block;
    height: 24px;
    width: 24px;
    background-color:var(--lightGrey);
    border-radius: 100px;
} */



