@import url('../../../App.css');

.reviews{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    row-gap: 0.5em;
    justify-content: start;
}

@media screen and (max-width: 516px) {
    .reviews{
        justify-content: center;
    }
}