.Selection{
   display: flex;
   flex-direction: column;
   gap: 0.5em;
}

.RadioButton{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

input[type="radio"]{
    appearance: none;
    font-family: "Red Hat Display", sans-serif;
    border: solid 2px var(--lightGrey);
    border-radius: 4px;
    cursor: pointer;
    height: 1.5em;
    width:  1.5em;
    background-color: white;
}

.RadioButton input:checked{
    background-color: var(--accent);
    background-image: url(check.svg);
    background-size: contain;
    border: solid 2px var(--accent);
}