.filter{
    border-radius: var(--border-radius);
    border: solid 1px var(--lightGrey);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    overflow: hidden;
    padding: 1em;
}

.filter legend{
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}