.filter{
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    overflow: hidden;
    padding: 1em;
    background-color: var(--section);
    background: rgba(255, 255, 255, 0.749);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.096);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

.filter legend{
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}