@import url('../../App.css');
.Pictures{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    padding: 0em;
    position: relative;
    display: flex;
    align-items: center;
}

.Container{
    min-width: 15em;
}

.Pictures img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    margin: 0em;
}

.Pictures button{
    border: none;
    background-color: none;
    padding: 0em;
}

.Navigate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0em 1em 0em 1em;
}

.Pictures span{
    background-color: rgba(0, 0, 0, 0.44);
    width: 2.5em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}