@import url('../../App.css');
.Pictures{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    padding: 0em;
}

.Container{
    min-width: 15em;
}

.Pictures img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.Pictures button{
    border: none;
    background-color: none;
    padding: 0em;
}