@import url('../../../App.css');

.adv{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    padding-right: 1em;
    background-color: white;
    padding: 1em;
    text-align: start;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.096);
}
.adv:hover{
    border: solid 1px var(--primary);    
    cursor: pointer;
}

.adv h4{
    color: var(--primary);
}
.adv:hover h4{
    color: var(--primary);
    text-decoration: underline;
}
.adv__info{
    flex-wrap: nowrap;
}
.adv__info img{
    width: 15em;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}
.adv__category{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    width: fit-content;
    padding: 1.5px 1em 1.5px 1em;
    color: var(--secondary);
}
.adv__date{
    font-size: var(--font-size-small);
    color: var(--placeholder);
}

.adv__shipping{
    background-color: rgba(0, 104, 133, 0.2);
    color: var(--primaryDark);
    border-radius: var(--border-radius);
    padding: 0em 0.5em 0em 0.5em;
    width: fit-content;
}
.adv__price{
    color: var(--primary);
}

@media screen and (max-width: 760px) {
    .adv__info img{
        width: 9em;
        height: 9em;
    }
  }