@import url('../../../App.css');
.review{
    background-color: white;
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    padding: 0.5em;
    width: 50%;
    min-width: 15em;
}

.review__text{
    border: solid 2px var(--lightGrey);
    border-style: dashed;
    padding: 0.5em;
    max-height: 5em;
    width: 100%;
    overflow: hidden;
}

.review__icon{
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-color: #0080a33c;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 516px) {
    .review{
        width: 100%;
    }
}