@import url('../../App.css');
/* .Back{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PopUp{
    background-color: var(--background);
    border-radius: var(--border-radius);
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
} 

.Title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    
.Help{
    width: 100%;
}*/


.Text{
    background-color: white;
    display: flex;
    width: 100%;
    gap:0.5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    padding: 1em;
}
.Contents{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    padding: 5em 1em 5em 1em;
}

.Preview img{
    width: 90%;
    height: 80%;
    object-fit: cover;
}

@media screen and (max-width: 516px) {
    .PopUp{
        width: 90vw;
        height: 50vh;    
    }
}

@media screen and (max-width: 1024px) {
    .PopUp{
        width: 60vw;
        height: 50vh;    
    }
}