@import url('../../../App.css');

.form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    width: 100%;
}

.form__fields{
    background-color: var(--section);
    border-radius: var(--border-radius);
    border: solid 1px var(--lightGrey);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    overflow: hidden;
    padding: 1.4em;
}

