
@import url('../../App.css');
.Filters{
    display: block;
}

@media screen and (max-width: 760px) {
    .Filters{
        display: none;
    }
  }


.Board{
    border-top: solid 1px var(--lightGrey);
}

.Ads{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    background-color: white
}

