
@import url('../../App.css');
.Filters{
    display: block;
}

@media screen and (max-width: 516px) {
    .Filters{
        display: none;
    }
  }


.Board{
    border-top: solid 1px var(--lightGrey);
    flex-wrap: nowrap;
}

.Ads{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    background-color: var(--section);
    padding-bottom: 1em;
}

