
@import url('../../App.css');
.home__filters{
    background-color: white;
    border: solid 1px var(--lightGrey);
    display: block;
    height: fit-content;
    padding: 1em;
}

@media screen and (max-width: 516px) {
    .home__filters{
        display: none;
    }
  }


.home__board{
    border-top: solid 1px var(--lightGrey);
    flex-wrap: nowrap;
}


