.Content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 5em 0em 5em 0em;
    gap: 2em;
}

.Input{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30em;
}

.Filters{
    display: block;
}

@media screen and (max-width: 545px) {
    .Filters{
        display: none;
    }
  }

.Board{
    border-top: solid 1px var(--lightGrey);
    padding-top: 2em;
}

.Ads{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
}