input[type="file"]{
    display: none;
}

.InputFile{
    width: 5em;
    height: 5em;
    background-color: white;
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    background-image: url(plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    padding: 2em;
}

.Loaded{
    display: flex;
    gap: 0.5em;
}

.Loaded img{
    width: 8em;
    height: 8em;
    background-color: white;
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    background-image: url(plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.Image{
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    width: 5em;
    height: 5em;
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    object-fit: contain;
}

.Image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Delete{
    position: absolute;
    bottom: 0.5em;
    content: "";
    background-image: url(delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.8em;
    height: 1.8em;
    border-radius: 100%;
    border: solid 1px var(--lightGrey);
    padding: 0.3em;
    background-origin: content-box;
    background-color: white;
}

.Delete:hover{
    border: solid 1px var(--accentHover);
}