@import url('../../App.css');

.Search{
    background-color: white;
    max-width: 40em;
    display: flex;
    border: solid 1px var(--lightGrey);
    justify-content: space-between;
    border-radius: var(--border-radius);
    margin-top: 0.5em;
    height: fit-content;
}

.Search input{
    width: 100%;
    border: none;
}

.Lens{
    border-radius: 100%;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6em;
    height: 98%;
    margin: 0.2em;
    padding: 0.6em;
}

.MobileFilter{
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 1000px) {
    .MobileFilter{
        visibility: visible;
        display: block;
    }
  }