@import url('../../../App.css');

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    
    align-items: center;
    margin: 0em;
    align-items: center;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: " / ";
    font-size:0.75rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .breadcrumb-item a {
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary);
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }