@import url('../../App.css');

/* .NavBar{
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    padding: 0px 48px 0px 48px;
    border-bottom: solid 1px var(--lightGrey);
    background-color: white;
} */

.Actions{
    display: flex;
    align-items: center;
    gap:16px;
}

.NavLink{
    font-size: var(--font-size-p);
    text-decoration: none;
    color: var(--text);
}

.NavLink:hover{
    font-weight: var(--font-weight-SemiBold);
    text-decoration: underline;
    color: var(--text);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.NavBar{
    display: block;
    background-color: white;
    box-shadow: var(--small-shadow);
}

.Hamburger{
  background-color: white;
  display: none;
  box-shadow: var(--small-shadow);
}

.Icon{
  background-color: var(--primary);
  background-image: url(menu.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: contain;
  width: 3em;
  height: 3em;
  border: solid 2px var(--primary);
  border-radius: var(--border-radius);
  display: flex;
  padding: 0.3em;
}

.More{
  border: solid 1px var(--lightGrey);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em;
  box-shadow: var(--small-shadow);
  width: 20em;
}

.Invisible{
  display: none !important;
}

.Visible{
  display: block !important;
}

.Mobile{
  display: none;
}

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1024px) {
  .NavBar {
    display: none;
  }
  .Hamburger {
    display: block;
  }
  .Mobile{
    display: none;
  }
}

@media screen and (max-width: 545px) {
  .NavBar {
    display: none;
  }
  .Hamburger {
    display: none;
  }

  .Mobile{
    display: block;
  }
}