.Footer{
    background-color: #ECECEC;
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 40px;
}

.Action{
    display:flex;
    flex-direction: column;
    gap: 8px;
}
