.Footer{
    background-color: var(--lightGrey);
    bottom: 0;
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    height: fit-content;
    padding: 3em;
}

.Action{
    display:flex;
    flex-direction: column;
    gap: 1em;
}
