.Footer{
    background-color: var(--lightGrey);
    bottom: 0;
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    height: fit-content;
    padding: 3em;
}

.Action{
    display:flex;
    flex-direction: column;
    gap: 1em;
}

@media screen and (max-width: 545px) {
    .Footer{
      font-size: 12px;
    }

    .Footer img{
        width: 7em;
    }
   
  }