@import url('../../App.css');

.Form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 1em;
}

.Fields{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    justify-content: center;
    padding: 1.4em;
    gap: 0.5em;
    overflow: hidden;
}

input[type="submit"]{
    width: 100%;
}