@import url('../../App.css');

.Form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    gap: 12px;
}

.Fields{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--lightGrey);
    border-radius: 4px;
    width: 24em;
    justify-content: center;
    padding: 20px;
    gap: 12px;
}

input {
    font-family: "Red Hat Display", sans-serif;
    border: solid 1px var(--lightGrey);
    border-radius: 4px;
    padding-left: 8px;
    height: 40px;
    width: 100;
}

.Field{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-SemiBold);
    margin: 0;
}

.Suggestion{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    margin: 0;
    color: grey;
}

.Field::placeholder{
    font-family: "Red Hat Display", sans-serif;
    font-size: smaller;
}

input[type="submit"]{
    width: 100%;
}

input[type="submit"]:hover{
    background-color: var(--primaryHover);
    color: white;
    border: none;
    transition: 1s;
}

.Multiple{
    display: flex;
    gap: 8px;
}