.profile__icon{
    width: 5em;
    height: 5em;
    border-radius: 100%;
    background-color: #0080a33c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile--show{
    display: none;
}

.profie__active{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    width: fit-content;
    padding: 1.5px 1em 1.5px 1em;
    color: var(--secondary);
}

.rating__stars input[type="radio"] {
    display: none;
}
.rating__stars .star {
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
}