@import url('../../App.css');
.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    color: var(--primary);
    align-items: center;
    width: 100vw;
    padding: 2em;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: " / ";
    font-size:0.75rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .breadcrumb-item a {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary);
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }