@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body{
    max-width:100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--background) !important;
    font-family: "Red Hat Display", sans-serif !important; 
}

:root{
    --background:#f4f4f4;
    --primary:#007FA3;
    --primaryDark:#006480;
    --primaryHover:#00303D;
    --secondary:#25283D;
    --secondaryHover:#12141E;
    --lightGrey:#DDE2E5;
    --accent:#880D1E;
    --accentHover:rgba(136, 13, 30, 0.74);
    --placeholder:#6E6E6E;
    --errors:#d20e0e;
    --text:black;

    --font-weight-SemiBold:600;
    --font-weight-light:350;
    --border-radius:0.2em;
    --font-size-small:0.7em;
    --small-shadow:0px 3px 3px #6f6f6f3b;
}

h1,h2,h4{
    font-family: "Red Hat Display", sans-serif;
    font-weight: medium;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;

}

h2{
    font-size: 2.3rem;
    overflow: hidden;
    text-overflow: ellipsis;

}

h3{
    font-size: 1.7rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;

}

h4{
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

h5{
    font-size:0.75rem;
    text-transform: uppercase;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;

}

p{
    margin: 0px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;

}

.link{
    color: var(--primary);
    text-decoration: underline;
    font-weight: var(--font-weight-SemiBold);
    overflow: hidden;
    text-overflow: ellipsis;

}

label{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-SemiBold);
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small{
    font-size: var(--font-size-small);
    color: var(--placeholder);
}