@import url('../../../App.css');
.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.rating button{
    width: fit-content;
    padding: 0em;
}

.rating__stars{
   display: flex;
   gap: 0.2em;
   justify-content: center;
   align-items: center;
}

