@import url('../../App.css');
.Adv img{
    width: 15em;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}
.Info{
    flex-wrap: nowrap;
}
.Adv{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    padding-right: 1em;
}

#category{
    border: solid 1px var(--lightGrey);
    border-radius: var(--border-radius);
    width: fit-content;
    padding: 1.5px 1em 1.5px 1em;
    color: var(--secondary);
}
#date{
    font-size: var(--font-size-small);
    color: var(--placeholder);
}
#shipping{
    background-color: rgba(0, 104, 133, 0.2);
    color: var(--primaryDark);
    border-radius: var(--border-radius);
    background-image: url(truck.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-origin:content-box ;
    background-position: center;
    padding: 0.1em;
    width: 2.8em;
    height: 1.8em;
}

#price{
    color: var(--primary);
}

.Rev{
    width: 100%;
}

.Dsk {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

@media screen and (max-width: 760px) {
    .Dsk {
      display: none;
    }
    .Adv img{
        width: 9em;
        height: 9em;
    }
  }