@import url('../../../App.css');
.orderby{
    background-color: white;
    border:solid 1px var(--lightGrey);
    color: rgb(0, 0, 0);
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-size: var(--font-size-p);
    cursor: pointer;
    padding: 0em 2em 0em 2em;
}

.orderby:hover{
    border:solid 2px var(--primary);
}

.orderby__item{
    background-color: rgba(255, 255, 255, 0);
    border:none;
    color: rgb(0, 0, 0);
    min-width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 3em;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-size: var(--font-size-p);
    cursor: pointer;
    gap: 0.5em;
}

.orderby__item:hover{
    text-decoration: underline;
}

.orderby__selector--down{
    display: block;
}

.orderby__selector--up{
    display: none;
}

@media screen and (max-width: 780px) {
    .orderby__item{
        font-size: 12px;
    }
  }